<div class="container">
  <br />
  <h3>Select two airports or cities</h3>
  <br />
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <from-airports (changed)="setFrom($event)">From</from-airports>
      </div>
      <div class="col-3">
        <to-airports (changed)="setTo($event)" [filterFrom]="fromAirport">To</to-airports>
      </div>
      <div class="btn-group">
        <button class='btn btn-primary' (click)="onSearch()">Search</button>
      </div>
    </div>
  </div>
</div>

<!-- Results -->

<div class="container">
  <br />
  <h3>Available flights</h3>
  <table class="table">
    <thead>
      <th>Number</th>
      <th>From</th>
      <th>To</th>
      <th>Time</th>
      <th>Price</th>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights$ | async">
        <td>{{flight.number}}</td>
        <td>{{flight.from.description}}</td>
        <td>{{flight.to.description}}</td>
        <td>{{flight.time}}</td>
        <td>{{flight.price}}</td>
      </tr>
    </tbody>
  </table>
</div>
